@model IEnumerable<GastosAppCore.Domain.Factura>
@using GastosAppMvc.Helpers
@{
    ViewBag.Title = "Facturas";
}

<div id="topbar"><div id="title">Facturas</div> </div>    

<div class="content">
<div class="ui-bar ui-bar-a"> 
<h3 style="display:inline-block; width:67%; margin-top:2px;">Listado</h3>
</div>
@section navbar_left {
    @{Html.RenderPartial("_HomeActionPartial");}
}
@section navbar_right {
    @{Html.RenderPartial("_CreateActionPartial");}
}
<ul data-role="listview" data-inset="true" data-filter="true">

@foreach (var item in Model)
{
    <li >
    <a  href="@Url.Action("Create", "Transacciones", new { FacturaId = item.FacturaId })">
    
    <span class="name">@item.Nombre</span>
    <span class="ui-li-count">@if (MyWebUtils.DateDiffDays(item.ProxFecha, DateTime.Today) <= 1)
                       {    
            <span class="negative">@item.ProxFecha.ToShortDateString()</span>
                       }
                       else
                       {    
            <span class="positive">@item.ProxFecha.ToShortDateString()</span>
                       }
                       </span>
    <span class="arrow"></span>
    </a>
    </li>
    
}

</ul>

</div>